body{
    margin: 0%;
    padding: 0%;
}

#container{
    position: relative;

    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    background-image:url("./img/space.jpg");
    background-size: 100vw 100vh;
    background-position: center;
    background-position: absolute;
}

#rocket{
    position: absolute;
    width: 200px;
    height: 200px;
    user-select: none;
    left: 100px;
}

.buttons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
button{
    width: 15vh;
    height: 10vh;
    user-select: none;
    border-radius: 12px;
    font-size: 1.5em;
    border: solid 3px #000;
}
button:hover{
    width: 17vh;
    height: 12vh;
    background-color: aqua;
    font-size: 1.75em;
    border: solid 4px #fff;
}
#portal{
    position: absolute;
    width: 25px;
    height: 250px;
    user-select: none;
    background-color: green;
    z-index: 1;
}

#score{
    position: absolute;
    top: 2%;
    left: 50%;
    user-select: none;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 1.5em;
    background-color: white;
    padding: 1% 2%;
    border-radius: 12px;
}